.save-as-pdf-pdfcrowd-m-description {
    max-height: 86px;
    overflow-y: auto;
}

.save-as-pdf-pdfcrowd-m-description ul {
    list-style: disc;
    margin: 0 0 0 30px;
}

.save-as-pdf-pdfcrowd-m-description ul ul {
    list-style: circle;
}

.save-as-pdf-pdfcrowd-m-description ul ul ul {
    list-style: square;
}

#save-as-pdf-pdfcrowd-options select {
    max-width: 500px !important;
}

#save-as-pdf-pdfcrowd-options pre {
    font-size: 13px;
    line-height: 1.2;
    margin: 0.5em 0 0 1em;
}


.save-as-pdf-pdfcrowd-reset,
.save-as-pdf-pdfcrowd-reset * {
    all: initial;
}

.save-as-pdf-pdfcrowd-button-wrap {
    display: block;
}

.save-as-pdf-pdfcrowd-button-wrap * {
    cursor: pointer;
}

.save-as-pdf-pdfcrowd-button {
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.save-as-pdf-pdfcrowd-button-hover, .save-as-pdf-pdfcrowd-has-indicator-func:hover {
    filter: grayscale(30%);
}

.save-as-pdf-pdfcrowd-button img {
    vertical-align: middle;
    display: inline-block;
}


.save-as-pdf-pdfcrowd-inner-table {
    margin: 0;
    padding: 0;
}

.save-as-pdf-pdfcrowd-inner-table td {
    padding: 0 3em 0 0;
}

#save-as-pdf-pdfcrowd-images img {
    height: 24px;
    vertical-align: middle;
}

.save-as-pdf-pdfcrowd-expert {
    float: right;
}

.save-as-pdf-pdfcrowd-devi {
    display: none;
}

.save-as-pdf-pdfcrowd-devi,
.save-as-pdf-pdfcrowd-note {
    padding: .5em;
    color: #856000;
    background-color: #fefebb;
    font-size: 13px !important;
}

.save-as-pdf-pdfcrowd-lic-stat {
    padding-left: 6px;
    font-weight: bold;
}

#save-as-pdf-pdfcrowd-support-notes {
    margin-top: 2em;
}
